/*RESET */

a{
      text-decoration: none;      
}


a:link {
      color: white;
    }
    
a:visited {
      color: red;
    }
 

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Général */
h1, h2, h3 {
      margin-bottom: 20px;     
}

nav {
      width:100%;
      height: 80px;
      color: white; 
      background-color: black;
}

.topLeft { 
      position: absolute;
      left: 100px;
      width: 400px;      
      display: flex;
      align-items: center;    
      margin-top: 30px;      
}

.topLeft > div {      
      width: 200px;      
      font-family: "open Sans", sans-serif;
      font-size: Regular 400;
}

.topRight {
      position: absolute;
      right: 100px;
      width: 400px;
      display: flex;
      justify-content: right;
      align-items: center;
      margin-top: 1em;      
    }

.topRight > div {
      width: 150px;
      font-family: "open Sans", sans-serif;      
      font-size: Light 300; 
      padding:10px;      
}

.center{            
      width: 50%;
      font-size:20px;      
      color: white;      
      margin: auto;
      margin-top: 20px;
      text-align: center;
}

.mid{
      width:100%;
      height: 850px;;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(images/cafe1.jpg);
      background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-color:#cccccc;         
}

.mid > div {     
      color: white;
      font-family: "open Sans", sans-serif;      
      font-size: 70px;/*Bold 700;  */         
}

.bottom{
      position: absolute;
      top: 890px;
      width:100%;
      height: 80px;     
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
}

.bottom > div { 
      color: white;
      font-family: "open Sans", sans-serif;      
      font-size: Light 300;       
}

.image{
      position: absolute;
      top: 200px;
      left:300px;      
      border: 1px solid gray;       
}
.image_text{  
      position: relative;
      left: -550px;
      top: 100px;   
      width: 22%;            
      float:right;        
} 

.contact{  
      width:100%;
      height: 850px;;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(images/cafe3.jpg);
      background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-color:#cccccc;
}

.contact > div{
           
      width: 450px;      
      font-family: "open Sans", sans-serif;      
      font-size: 24px; 
      color: white;
}

input, textarea{
      font-size: 30px;
}

input[type="email"]:valid {
      background-color: #ddffdd;
    }
  
:focus {
      background: lightblue;
}

input[type=submit]{
      color: white;
      background-color: black;
      cursor: pointer;
      border-radius: 24px;
}

#btn1{
      width: 35px;
      color: white;
      background-color:blue;
      font-size: 18px;
      border-radius: 50%
}

#btn2{
      width: 35px;
      color: white;
      background-color: orange;
      font-size: 18px;
      border-radius: 50%
}

#descp{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
}

#submit{
      width: 160px;
      color: black;
      background-color: white;
      font-size: 14px;
      font-weight: bold;
      border-radius: 14px;
}